.App {
  text-align: center;
}

.constructionImg {
  width: 30vw;
}

.cvQr {
  width: 30vw;
}

h1 {
  font-family: Cormorant;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 5rem;
}

h2 {
  font-family: SourceItalic;
  text-transform: uppercase;
  color: var(--red);
  margin-top: 0;
}

p {
  font-family: Source;
}

.constructionDiv {
  margin-top: 3rem;
}

.cvQrDiv {
  margin-top: 3rem;
}



@media (min-width: 900px) {
  .constructionImg {
    width: 10vw;
  }

  .cvQr {
    width: 10vw;
  }
  
  
}
