.App {
  text-align: center;
}

.constructionImg {
  width: 30vw;
}

.cvQr {
  width: 30vw;
}

h1 {
  font-family: Cormorant;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 5rem;
}

h2 {
  font-family: SourceItalic;
  text-transform: uppercase;
  color: var(--red);
  margin-top: 0;
}

p {
  font-family: Source;
}

.constructionDiv {
  margin-top: 3rem;
}

.cvQrDiv {
  margin-top: 3rem;
}

.downloadBtn{
  border: 2px solid var(--blue);
  color: var(--blue);
  text-decoration: none;
  padding: 1rem 2rem;
  font-family: SourceBold;
}

.downloadBtn:hover{
  border: 2px solid var(--blue);
  color: #ffffff;
  background-color: var(--blue);
  text-decoration: none;
  padding: 1rem 2rem;
  font-family: SourceBold;
}

.btnDiv{
  margin-top: 3rem;

}



@media (min-width: 900px) {
  .constructionImg {
    width: 10vw;
  }

  .cvQr {
    width: 10vw;
  }
  
  
}
