:root {
  --pink: #f0e1e4;
  --blue: #2e338a;
  --red: #C42035;
}

@font-face {
  font-family: Cormorant;
  src: url("./assets/fonts/CORMORANTINFANT-BOLD.TTF");
}

@font-face {
  font-family: SourceBoldItalic;
  src: url("./assets/fonts/SOURCESANSPRO-BOLDITALIC.TTF");
}

@font-face {
  font-family: SourceItalic;
  src: url("./assets/fonts/SOURCESANSPRO-ITALIC.TTF");
}

@font-face {
  font-family: Source;
  src: url("./assets/fonts/SOURCESANSPRO-LIGHT.TTF");
}

@font-face {
  font-family: SourceBold;
  src: url("./assets/fonts/SOURCESANSPRO-BOLD.TTF");
}

body {
  background-color: var(--pink);
  color: var(--blue);
}

